* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;



  height: 100vh;
  display: grid;
  align-content: center;
  gap: 1rem;

  font-size: 2rem;
}
.word {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  gap: 1rem;
}

